* {
    font-family: "Raleway", sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

body {
    display: flex;
    justify-content: center;
}

img {
    display: block;
    width: 100%;
}

ul {
    padding: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

fieldset {
    border: none;
    padding: 0;
    margin: 35px 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

.header_main {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    width: 60px;
    margin: 30px 0;
}

.header_nav {
    margin-bottom: 30px;
}

.header_nav_list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 68px;
}

.header_nav_item {
    padding-top: 20px;
}

.header_nav_item:hover {
    padding-top: 18px;
    border-top: solid 3px var(--main-color);
    color: var(--main-color);
}

.fa-solid {
    color: var(--main-color);
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hero section ***********/

.hero .section-title {
    margin-top: 30px;
}

.barre_recherche {
    display: flex;
    border-radius: 15px;
    width: max-content;
    overflow: hidden;
}

.icon_location {
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    padding: 14px 18px;
}

#recherche {
    padding-left: 15px;
    font-size: 18px;
    font-weight: 700;
    border-top: solid 1px var(--main-bg-color);
    border-bottom: solid 1px var(--main-bg-color);
    border-left: none;
    border-right: none;
}

#submit {
    padding: 0 15px;
    height: 100%;
    font-weight: 700;
    font-size: 18px;
    border: solid 1px var(--main-color);
    background-color: var(--main-color);
    color: var(--filter-bg-color);
    cursor: pointer;
}

.fa-magnifying-glass {
    display: none;
}

.filtre_recherche {
    display: flex;
    align-items: center;
}

.filtre_title {
    font-size: 18px;
    font-weight: 700;
    margin-right: 15px;
}

.filtre_list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.filtre_list label {
    padding: 15px 20px;
    border-radius: 25px;
    border: solid 2px #d9d9d9;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
}

.filtre_list label:active {
    background-color: #deebff;
}

.filtre_list label:hover {
    background-color: #deebff;
}

.filtre_list label:has(input:checked) {
    background-color: #deebff;
}

.filtre_list input {
    display: none;
}

.filtre_list i {
    margin-right: 10px;
}

.information {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 35px 0px;
}

.information_circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid 1px #d9d9d9;
    text-align: center;
    aspect-ratio: 1 / 1;
}

.fa-info {
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.card {
    display: flex;
    flex-direction: column;
}
.card-content {
    padding: 9px 15px 4px 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card-subtitle {
    font-size: 14px;
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
}
.hebergements-cards {
    display: grid;
    margin: 30px 0;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.hebergements-cards .card {
    max-height: 207px;
}

.hebergements-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.hebergements-more {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.hebergements-more a {
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    flex-direction: row;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;

    justify-content: space-between;
}

/********* Activité *******/

.activites {
    margin-top: 35px;
    padding: 30px;
}
.activites-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
    margin-top: 33px;
}

.activites-cards .card {
    padding: 0;
    height: 100%;
}
.activites-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
}

.activites-cards .card-content {
    padding: 20px;
}

/********* Footer *******/

footer {
    display: flex;
    background-color: var(--main-bg-color);
    margin-top: 35px;
    padding: 20px;
}

footer a:hover {
    color: var(--main-color);
}

footer a:active {
    color: var(--main-color);
}

.footer_div {
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 15px;
}

.h2_footer {
    font-size: 18px;
    font-weight: 700;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .filtre_recherche {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards .card {
        margin-top: 20px;
    }

    .populaires-cards a {
        width: calc(33% - 10px);
    }

    .activites-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    .main-container {
        padding: 0px 20px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .header_nav {
        width: 100dvw;
        margin-bottom: 30px;
    }

    .header_nav_list {
        gap: 0px;
        text-align: center;
        /* justify-content: space-around; */
        padding-top: 0px;
    }
    .header_nav_item {
        width: 50%;
        padding-top: 0px;
        padding-bottom: 13px;
    }

    .header_nav_item:hover {
        color: var(--main-color);
        padding-top: 0px;
        border-bottom: solid 2px var(--main-color);
        border-top: none;
    }

    .hero .section-title {
        margin-top: 0px;
    }

    #recherche {
        outline-offset: -1px;
        flex-grow: 1;
        max-width: calc(100dvw - 48px - 44px - 40px);
        /* 100 dynamic vw - 48px (location_icon) - 44px (submit_icon) - 40px (margin left et right)  */
    }

    #submit {
        display: none;
    }

    .fa-magnifying-glass {
        display: contents;
    }

    .barre_recherche {
        width: 100%;
        position: relative;
    }

    .barre_recherche label {
        display: flex;
        align-items: center;
        padding: 14px;
        border-radius: 15px;
        box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.2);
        background-color: var(--main-color);
        position: absolute;
        right: 0;
    }

    .filtre_list {
        flex-grow: 1;
        justify-content: space-between;
    }

    .filtre_list label {
        min-width: calc(50dvw - 20px - 10px);
        /* 50 dynamic vw (2 colonnes) - 20px (margin left ou right)  - 10px (gap) */
    }

    .hebergements-and-populaires {
        gap: 5px;
    }

    .hebergements-and-populaires section {
        padding: 0;
    }

    .hebergements-and-populaires .populaires {
        padding: 30px 20px;
        border-radius: 0px;
    }

    .hebergements-and-populaires .hebergements {
        padding: 20px 0;
    }

    .hebergements {
        width: 100%;
        order: 1;
    }

    #hebergements {
        background-color: white;
    }

    .hebergements-cards {
        margin: 15px 0;
        grid-template-columns: 1fr;
    }

    .populaires {
        margin-top: 0;
        margin-left: -20px;
        width: 100svw;
        padding: 30px 20px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites {
        padding: 10px;
    }

    .activites-cards {
        grid-template-columns: 1fr;
    }

    footer {
        flex-direction: column;
        margin-left: -20px;
        width: 100svw;
        padding: 30px;
    }
}
